body{
	font-family: "Times New Roman", Times, serif;

}
/*----HEADER-----*/
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  background-color: #e2e2df;
}
/*NAVBAR*/
ul {
	position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2d42;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #012a4a;
}
.box{
	background-color: #f3c4fb;
	  -webkit-transition: 
		background-color 700ms linear,
			   color 700ms linear;
	}

.box:hover { 
  background-color:pink;
	}


.form{
	margin-left: 10px;
}
.head{
	text-align: center;
	font-size: 20px;
}
/* Footer */
.foot {
  /*padding: 20px;*/
  text-align: center;
  /*background: #ddd;*/
  margin-top: 5px;
  background: url(foot_img.png) left top repeat;
  padding: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
   color: #e2afff;
}

input[type=text]:focus {
  background-color: #ffc8dd;

}
input[type=email] {
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  color: #e2afff;
}

input[type=email]:focus {
  background-color: #ffc8dd;
}
table{
	border: 2px solid;
}
